.ui-accordion .ui-accordion-content {
    border: 1px solid #dddddd;
    border-bottom: 0;
    border-top: 0;
}

.ui-treetable thead th, .ui-treetable tbody td, .ui-treetable tfoot td {
    white-space: normal !important;
    word-wrap: break-word !important;
}

.ui-accordion .ui-accordion-header {
    background-color: #E5E5E5 !important;
}

.ui-transparent {
    border: 0 !important;
    background: transparent !important;
}

.ui-widget-overlay {
    background: #fdff84;
    opacity: .80;
    filter: Alpha(Opacity=80);
}

.ui-widget-content .default {
    background-color: #E5E5E5;
}

table {
    table-layout: fixed;
}

.ui-inputswitch .ui-inputswitch-off {
    right: 0;
    text-align: right;
    font-weight: normal !important;
}

.ui-inputswitch .ui-inputswitch-on {
    right: 0;
    text-align: right;
    font-weight: normal !important;
}